<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vajraksh Drone</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>VAJRAKSH</h1>
    <hr>
    <div class="row">
        <div class="column left">
            <div class="c1" id="speed">
                <h3>SPEED</h3>
            </div>
            <div class="c1" id="wind">
                <h3>WIND</h3>
            </div>
            <div class="c1" id="altitude">
                <h3>ALTITUDE</h3>
            </div>
            <!-- <button>Altitude Lock</button> -->
        </div>
        <div class="column_mid">
            <div class="stream">
                <img src="{{ url_for('video_feed') }}" width="640" height="480">
            </div>
            <div class="row1"> 
                <div class="columnLateral">
                    <div id="joy1Div"></div>
                        Posizione X:<input id="joy1PosizioneX" type="text" /><br />
                        Posizione Y:<input id="joy1PosizioneY" type="text" /><br />
                        Direzione:<input id="joy1Direzione" type="text" /><br />
                        X :<input id="joy1X" type="text" /></br>
                        Y :<input id="joy1Y" type="text" />
                </div>
            </div>
            <div class="columnLateral">
                <div id="joy2Div"></div>
                    Posizione X:<input id="joy2PosizioneX" type="text" /></br>
                    Posizione Y:<input id="joy2PosizioneY" type="text" /></br>
                    Direzione:<input id="joy2Direzione" type="text" /></br>
                    X :<input id="joy2X" type="text" /></br>
                    Y :<input id="joy2Y" type="text" />
            </div>			
        </div>
        <div class="column right">
            <button class="shoot">Shoot</button>
        </div>
    </div>
    <script type="text/javascript">
        // Create JoyStick object into the DIV 'joy1Div'
        var Joy1 = new JoyStick('joy1Div', {}, function(stickData) {
            document.getElementById("joy1PosizioneX").value = stickData.xPosition;
            document.getElementById("joy1PosizioneY").value = stickData.yPosition;
            document.getElementById("joy1Direzione").value = stickData.cardinalDirection;
            document.getElementById("joy1X").value = stickData.x;
            document.getElementById("joy1Y").value = stickData.y;
        });

        // Create JoyStick object into the DIV 'joy2Div'
        var joy2Param = { "title": "joystick2", "autoReturnToCenter": false };
        var Joy2 = new JoyStick('joy2Div', joy2Param, function(stickData) {
            document.getElementById("joy2PosizioneX").value = stickData.xPosition;
            document.getElementById("joy2PosizioneY").value = stickData.yPosition;
            document.getElementById("joy2Direzione").value = stickData.cardinalDirection;
            document.getElementById("joy2X").value = stickData.x;
            document.getElementById("joy2Y").value = stickData.y;

            // Send the joystick data to the Flask endpoint
            $.ajax({
                url: '/process_joystick_data',
                type: 'POST',
                data: JSON.stringify({
                    x: stickData.x,
                    y: stickData.y,
                    cardinalDirection: stickData.cardinalDirection
                }),
                contentType: 'application/json',
                success: function(response) {
                    console.log('Joystick data sent successfully:', response);
                },
                error: function(error) {
                    console.error('Error sending joystick data:', error);
                }
            });
        });
    </script>
</body>
</html>
